<div class="full-width full-height flex_center flex_column container">
    <main class="flex_center flex_column">
        <img src="../../../assets/logo.png">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
             <mat-form-field appearance="legacy" class="full-width">
                <mat-label>学号：</mat-label>
                 <input matInput placeholder="输入学号..." type="tel" formControlName="cardno">
             </mat-form-field>

             <mat-form-field appearance="legacy" class="full-width">
                <mat-label>姓名：</mat-label>
                 <input matInput placeholder="输入姓名..." type="text" formControlName="name">
             </mat-form-field>
             
             <mat-form-field appearance="legacy" class="full-width">
                <mat-label>密码：</mat-label>
                 <input matInput placeholder="输入密码..." type="password" formControlName="pwd">
             </mat-form-field>

             <mat-form-field appearance="legacy" class="full-width">
                <mat-label>重复密码：</mat-label>
                 <input matInput placeholder="输入重复密码..." type="password" formControlName="repwd">
             </mat-form-field>

             <mat-form-field appearance="legacy" class="full-width">
                <mat-label>专业：</mat-label>
                 <input matInput placeholder="输入专业..." type="text" formControlName="profession">
             </mat-form-field>
             
             <button mat-flat-button color="primary" type="submit" [disabled]="isDisabled" class="full-width margin">立即注册</button>
         </form> 
     </main>
</div>

