<div class="full-width full-height flex_center flex_column container">
    <main>
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
             <mat-form-field class="full-width">
                 <input matInput placeholder="学号:" type="number" formControlName="number">
             </mat-form-field>
             
             <mat-form-field class="full-width">
                 <input matInput placeholder="密码：" type="password" formControlName="password">
             </mat-form-field>
     
             <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid" class="full-width">登陆</button>
         </form> 
     </main>
</div>

