main {
    width: 30%;
    background-color: white;
    padding: 3em;
    border-radius: 30px;
    border-style: none;
}

.container {
    background: linear-gradient(
     145deg,
     #0E4174 40%,
     #177ABB 0,
     #177ABB 80%,
     white 0
     );
}