<div class="full-width full-height flex_center flex_column container">
    <main class="flex_center flex_column">
        <img src="../../../assets/logo.png">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
             <mat-form-field class="full-width">
                 <input matInput required placeholder="学号:" type="tel" formControlName="number">
             </mat-form-field>
             
             <mat-form-field class="full-width">
                 <input matInput required placeholder="密码：" type="password" formControlName="password">
             </mat-form-field>
             <a mat-button routerLink=".">立即注册</a>
             <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid" class="full-width margin">登陆</button>
         </form> 
     </main>
</div>

