<mat-toolbar color="primary">
    <button mat-icon-button (click)='back()'>
        <mat-icon>arrow_back</mat-icon>
    </button>
</mat-toolbar>

<div class="container">
    <div class="title">试卷题目</div>
    <div class="session">一、选择题</div>
  
    <mat-card *ngFor="let item of questions.questionsChoices; let i=index">
    <div class="decription">
        {{i+1}}.{{item.question}}
    </div>
        <mat-radio-group class="radio-group">
            <mat-radio-button value="A" class="radio-button">{{item.optiona}}</mat-radio-button>
            <mat-radio-button value="B" class="radio-button">{{item.optionb}}</mat-radio-button>
            <mat-radio-button value="C" class="radio-button">{{item.optionc}}</mat-radio-button>
            <mat-radio-button value="D" class="radio-button">{{item.optiond}}</mat-radio-button>
        </mat-radio-group>
    </mat-card>
    
</div>
    
    
