mat-card {
    margin: 1em;
}

.title {
    margin: 1em;
}

.session {
    margin:1em;
}

.radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
.radio-button {
    margin: 5px;
}

.selected-value {
    margin: 15px 0;
}
