/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.flex {
    display: flex;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_column {
    flex-direction: column
}

.flex_row {
    flex-direction: row
}

.full-height {
    height: 100%;
}
.full-width {
    width: 100%;
}

.margin {
    margin: 1em;
}